@font-face {
  font-family: 'Averta Std';
  font-weight: 400;
  src: url('/design-process/fonts/AvertaStd-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Averta Std';
  font-weight: 600;
  src: url('/design-process/fonts/AvertaStd-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'Averta Std';
  font-weight: 800;
  src: url('/design-process/fonts/AvertaStd-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Averta Std';
  font-style: italic;
  src: url('/design-process/fonts/AvertaStd-RegularItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  src: url('/design-process/fonts/NotoSerif-Italic.ttf') format('truetype');
}

.dp-table
  border-collapse collapse
  table-layout fixed

  td
    padding 10px
    text-align center
    border 1px solid rgba(0, 0, 0, .3)
    vertical-align top

    &:first-child,
    &:nth-child(2)
      background-color #f5f5f5

  li
    text-align left
    text-indent initial
